@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section faq
{
    <title>FAQS</title>
}

<div >
     <img src="~/images/faqs.jpeg" style="width:100%" />
</div>
<p style="text-align:center; font-size:30px">

    <b >Contact us:</b><br />
    0900 78601

   <br />  <b >Email us:</b><br />
    sidkhay@gmail.com

    <br /> <b >Address:</b><br />
    House# 1 Street# 2 ABC colony
   <br /> Okara, cantt 

</p>
